[submodule "ext/openvr"]
	path = ext/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "STLdotNET"]
	path = STLdotNET
	url = https://github.com/QuantumConcepts/STLdotNET.git
[submodule "ext/STLdotNet"]
	path = ext/STLdotNet
	url = https://github.com/QuantumConcepts/STLdotNET.git
