[submodule "ext/openvr"]
	path = ext/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "ext/STLdotNet"]
	path = ext/STLdotNet
	url = https://github.com/QuantumConcepts/STLdotNET.git
[submodule "ext/ObjParser"]
	path = ext/ObjParser
	url = https://github.com/stefangordon/ObjParser
[submodule "ext/mathnet-numerics"]
	path = ext/mathnet-numerics
	url = https://github.com/mathnet/mathnet-numerics.git
